body {
  text-align: center;
  background-color: #011F3F;
}

a {
    text-decoration: none;
    padding: 5px;
    border: 3px solid powder-blue;
    color: white;
}
footer {
  text-align: center;
  color: white;
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  margin:  15px;
  color: white;
}

.container {
  display: block;
  width: 80%;
  margin: auto;

}

.btn {
  margin: 15px 15px 8px 15px;
  display: inline-block;
  height: 150px;
  width: 150px;
  border: 10px solid black;
  border-radius: 20%;
}

@media only screen and (max-device-width: 650px) {
  .btn {
      height: 100px;
      width: 100px;
  }

  #level-title {
      font-size: 1.5rem;
  }
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
